<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">{{title}}</h1>
        <form [formGroup]="loginForm" id="usernameForm" name="usernameForm">
            <div class="form-group" [ngClass]="{'error': loginForm.controls['email'].errors && !loginForm.controls['email'].pristine}" >
                <input type="email" mdInput formControlName="email" placeholder="Email" required>
                <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" class="error-msg">
                    <div [hidden]="!loginForm.controls['email'].errors.required">Email is required.</div>
                    <div [hidden]="!loginForm.controls['email'].errors.patternInvalid">Email is invalid.</div>
                  </div>
            </div>
            <div class="form-group">
                <button md-raised-button class="accent username-submit" [disabled]="loginForm.invalid" (click)="login()">Start Chatting</button>
            </div>
        </form>
    </div>
</div>